// change the theme
$theme-colors: (
  "primary": #ce1126,
  "danger": #ff4136
);

.background-image {
  position: absolute;
  opacity: 0.04;
  bottom: -20%;
  right: 0;
  width: 80vh;
  z-index: -2;
}


// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';